
form
{
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translatex(-50%);
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #58257b;
    border-radius: 4px;
  }
label{
   color: #58257b; 
}
input[type=submit] {
    width: 100%;
    background-color: #58257b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  table, th, td{
    border:1px solid #868585;
}
table{
    border-collapse:collapse;
}
table tr:nth-child(odd){
    background-color:#eee;
}
table tr:nth-child(even){
    background-color:white;
}
table tr:nth-child(1){
    background-color:skyblue;
}
 
.hh{
    width: 100vw;
    margin-top: 30px;
 }

 button {
    background-color: #58257b;
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 347px;
    margin-top: 20px;
  }